In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('food.xlsx')
df

   S.NO.         name  price   location  colour     cuisine  taste  rating
0      1      namkeen    100    bikaner  yellow    bikaneri  spicy     4.5
1      2      kachori     30     jaipur  orange     jaipuri  spicy     5.0
2      3       paneer     80      ajmer   white      ajmeri  sweet     4.0
3      4       dhokla     20     gujrat  yellow     gujrati  yummy     3.5
4      5    dal bhati    150  rajasthan   brown  rajasthani  spicy     5.0
5      6        pizza    200      italy   white     italian  yummy     5.0
6      7        pasta    180      italy     red     italian  spicy     4.7
7      8  gulab jamun     50     jaipur   brown     jaipuri  sweet     4.8
8      9     rasgulla     70    bikaner   white    bikaneri  sweet     4.9

# COSTLIEST FOOD

In [3]:
df.loc[df['price'].idxmax(),'name']

'pizza'

# CHEAPEST FOOD

In [4]:
df.loc[df['price'].idxmin(),'name']

'dhokla'

# ORANGE FOOD IN JAIPUR

In [5]:
df[(df['location']=='jaipur') & (df['colour']=='orange')]

   S.NO.     name  price location  colour  cuisine  taste  rating
1      2  kachori     30   jaipur  orange  jaipuri  spicy     5.0

# which cusine is most poplular

In [6]:
for x in df.index:
    if df.loc[x,'rating']==df["rating"].max():
          print('Most Popular Cuisine = ',df.loc[x,'cuisine'])

Most Popular Cuisine =  jaipuri
Most Popular Cuisine =  rajasthani
Most Popular Cuisine =  italian

# count of taste

In [7]:
df['taste'].value_counts()

spicy    4
sweet    3
yummy    2
Name: taste, dtype: int64

# food avaliable in jpr and is sweet

In [8]:
df[(df['location']=='jaipur') & (df['taste']=='sweet')]

   S.NO.         name  price location colour  cuisine  taste  rating
7      8  gulab jamun     50   jaipur  brown  jaipuri  sweet     4.8